img{
    height: 125%;
}
#btnTurn{
    margin-top: 15px;
}

body{
    color: rgb(255, 255, 255);
    background-image: url(./Paisaje\ Pixel\ Art.png);
    background-size: cover;
}

h1{
    text-align: center;
    margin-bottom: 25px;
    margin-top: 25px;
}

table{
    margin-top: 15px;
}

th{
    text-align: center;
    color: rgb(255, 255, 255);
}

td{
    background-color: rgba(255, 255, 255, 0.274);
    color: white;
    text-align: center;
}

#divTable{
    background: #202020ad;
    margin-left: 50px;
}

.info{
    text-align: left;
}

#pGame{
    background-color: rgba(255, 255, 255, 0);
}

#pnumTurn{
    background-color: rgba(255, 255, 255, 0);
    border: 0;
}

#pTurn{
    background-color: rgba(255, 255, 255, 0.075);
}

#pBuff{
    background-color: rgba(255, 255, 255, 0.075);
    border: 0;
}